

@media screen and (max-width: 1099px) and (min-width: 501px)
{
.main__screen{
	background: url(../img/main768.png);
	background-position: top 0 left 0;
	width: 100%;
	font-size: 14px;
	background-size: 100%;
	margin: 0;
	background-repeat: no-repeat;
	position: relative;
	padding-bottom: 50%;
}

.ms_container{
	display: none;
}

.ms__city{
	display: block;
	border-color: transparent;
	color: #2F80ED;
	line-height: 119.62%;
	font-size: 14px;
	background-color: transparent;
	margin-left: 2%;
}

.ms_menu2__container{
	height: 20px;
}

.ms_menu2{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 1%;
	width: 100%;
}
.ms_menu2__contdown{
   	display: inline-block;
   	position: relative;
   	margin-right: 2%;
}
   
.ms_menu2__dropdown{
	display: none;
 	position: absolute;
 	right: 0;
    z-index: 1;
    text-align: right;
    width: max-content;
}

.ms_sant, .ms_moscow, .ms_minsk{
	line-height: 119.62%;
	color: #2F80ED;
	font-size: 14px;
}

.ms_menu2__reviews, .ms_menu2__price,.ms_menu2__about,.ms_menu2__block{
	display: none;
}

.ms_menu2__image{
	display: none;
}

.ms_menu2__write{
	display: block;
	height: 18px;
	font-size: 14px;
	line-height: 119.62%;
	color: white;
}	

.ms_menu2__dropdown a{
	line-height: 119.62%;
	color: white;
    text-decoration: none;
   	display: block;
   	padding: 6px 0;
}

.ms_menu2__contdown:hover .ms_menu2__dropdown {
   	display: block;
}
.ms_btn{
    border: none;
   	outline: none;
}

.ms_btn div{
	width: 30px;
	height: 2px;
	background-color: white;
	margin-bottom: 10px;
}
	
.ms_btn .ms_btn__narrow{
	width: 15px;
}

.descript{
	height: 70%;
	color:white;
	margin-top: 10%;
}

.descript__container{
	margin-left: auto;
	width: 61%;
}

.descript__date{
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	line-height: 124.41%;
}

.descript__name{
	font-size: 35px;
	margin: 2% 0;
}

.descript__info{
	font-size: 18px;
	margin-bottom: 5%;
}

.descript__btn{
	width: 192px;
	height: 50px;
	padding: 0;
	background: #64E2CD;
	border: 0;
	border-radius: 50px;
	color: white;
	box-shadow: 0 0 0 13px rgba(100, 226, 205, 0.5);
}
.review{
	bottom:15%;
	left: 7%;	
	position: absolute;
	width: 231px;
	height: 231px;
	border-radius: 50%;
	background: radial-gradient(68.31% 68.31% at 50% 50%, #F9FBFF 0%, #CADEF9 100%), #FFFFFF;
	box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
	color: #2F80ED;
	text-align: center;
}
}

@media screen and (max-width:700px) and (min-width: 501px)
{
.review{
	left:50%;
	transform:translateX(-50%);
	bottom: 0%;
}
.descript__container{
	width: 70%;
}
.descript{
	margin-top: 5%;
}
.descript__name{
	font-size: 30px;
}
.descript__btn{
	width: 192px;
	height: 50px;
}
}

@media screen and (max-width:700px) and (min-width: 601px)
{
.descript{
	margin-top: 10%;
}
.descript__container{
	width: 65%;
}
.review{
	bottom: 5%;
}
}


@media screen and (max-width: 1099px) and (min-width: 501px)
{
.marketfit{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 84px;
	width: 100%;
	height:145vh;
}


.marketfit__text{
	width: 100%;
	font-size: 30px;
	line-height: 124.41%;
	text-align: center;
	margin-bottom: 5%;
}

.marketfit__container{
	display:flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 85%;
}

.mf__container__block{
	width: 43%;
	background: #FFFFFF;
	box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
	border-radius: 10px;
	padding: 6% 3% 10% 5%;
	margin-bottom: 50px;
}





	.professions{
	width: 100%;
	height: 120vh;
	margin-top: 58px;
	position: relative;
}

.prof__image{
	background: url(../img/Rectangle.png);
	background-repeat: no-repeat;
	background-position: left 0 top 20px;
	background-size: 180%;
	height: 100%;
}

.prof__container{
	display: flex;
	width: 85%;
	height: 60%;
	margin-left: auto;
	margin-right: 5%;
}	
.prof__image h2{
	font-size: 29px;
	padding-top: 10%;
	margin-bottom: 60px;
	text-align: center;
}

.prof__ellipse{
	display: none;
}	

.prof__block{
	margin-right: 7%;
	width: 37%;
}

.prof__block h5{
	width: 70%;
	height: 10%;
	font-weight: 600;
	letter-spacing: 0.05em;
	color: #2F80ED;
	margin:0;
	font-size: 14px;
	margin-bottom: 10px;
}

.prof__block p{
	width: 100%;
	height: 50%;
	color: #636363;
	font-size: 14px;
	line-height: 143.55%;
}

.about_course{
	width: 100%;
	height: 100vh;
	margin-top: 15px;
	padding-left: 13%;
	padding-right: 5%
}
.ac__container{
	position: relative;
	width: 100%;
	height: 70%;
	margin-bottom: 2%;
	display: flex;
	flex-direction: column;
	overflow: visible;
}

.ac__block{
	position: absolute;
	right: 25px;
	bottom: -70px;
	width: 45%;
	height: 58%;
	background: #FFFFFF;
	box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1);
	border-radius: 10px;
	margin-left: auto;
}

.ac__block__flex{
	width: 100%;
	height: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.ac__headline{
	width: 70%;
	height: 38px;
	font-size: 30px;
	margin-bottom: 5%;
}

.ac__bflex1{
	width: 38%;
	margin-right: 5%;
}
.ac__bflex2{
	width: 38%;
	margin-right: 5%;
}


.ac__bflex1 p{
	color: #636363;
	line-height: 143.55%;
	font-size: 14px;
}

.ac__bflex2 p{
	color: #636363;
	line-height: 143.55%;
	font-size: 14px;
}

.ac__block h4{
	position: relative;
	width: 70%;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #2F80ED;
	margin: 60px auto;
	margin-bottom: 9px;
	font-style: normal;
	font-size: 14px;
	line-height: 143.55%;
}

.ac__block p{
	width: 70%;
	font-weight: 600;
	color: #636363;	
	font-style: normal;
	font-size: 14px;
	line-height: 143.55%;
	margin: 0 auto;
}

.ac__link a{
	width: 20%;
	font-weight: 600;
	text-transform: uppercase;
	color: #2F80ED;
	margin-bottom: 5px;
	border-bottom: 1px dashed #2F80ED;
	font-size: 14px;
	line-height: 203.05%;
	letter-spacing: 0.05em;
}
.ac__ellipse1{
	display: none;
}

.ac__ellipse2{
	position: absolute;
	width: 89px;
	height: 89px;
	right: -44.5px;
	top: -44.5px;
	border-radius: 50%;
	background: radial-gradient(68.31% 68.31% at 50% 50%, #6AAAFF 0%, #2F80ED 100%), #FFFFFF;
	box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
	filter: blur(10px);
}

	.results{
		width: 100%;
		height: 355vh;
		background: url(../img/Rectangleres2.png),url(../img/Rectangleres.png);
		background-repeat: no-repeat, no-repeat;
		background-size: 350%;
		background-position: top left, top 70px left;
		margin-top: 15px;
	}
	.res__container{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 56px;
	height: 70%;
}

.res__block{
	width: 70%;
	height: 23%;
	margin-bottom: 41px;
	margin-right: 36px;
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 10px 30px rgba(47, 55, 237, 0.1);
	border-radius: 10px;
	padding: 8% 5% 10% 20%;
}

.res__block img{
	position: absolute;
	width: 60px;
	height: 60px;
	top: 56px;
	left: 56px;
}

.trust{
		width: 100%;
		height: 240vh;
		padding-left: 10%;
		margin-bottom: 34px;
	}

.trust_container__video{
	width:83%;
	margin-bottom: 10%;
}

.trust__video__about{
	display: none;
}

.trust_container__info{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-right: 10%;
}

.trust__info__block{
	width: 40%;
	margin-bottom: 5%;
}

.trust__info__block.-narrow{
	margin-bottom: 0;
	padding-right: 5%;
}

.trust__headline{
	font-size: 35px;
	line-height: 55px;
	margin-bottom: 80px;
}

.trust__video{
	background: url(../img/trust__video.png);
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 392px;
	background-color: #C4C4C4;
	position: relative;
	border-radius: 10px;
}

.trust__video__ellipse{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:160px;
	width: 70px;
	height: 70px;
	background: #2F80ED;
	opacity: 0.5;
	border-radius: 50%;
}

.trust__video__polygon{
	width: 0; 
	height: 0;
	margin: auto;
	margin-top: 16px;
	border-top: 19px solid transparent;
	border-left: 25px solid white;
	border-bottom: 19px solid transparent;
}

.trust__img1{
	width: 85px;
	height: 70px;
}

.trust__img2{
	width: 83px;
	height: 70px;
}

.trust__img3{
	width: 95px;
	height: 70px;
}

.trust__img4{
	width: 94px;
	height: 70px;
}

.trust__info__headline{
	font-weight: 600;
	font-size: 16px;
	line-height: 143.55%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #2F80ED;
	margin-top: 28px;
	margin-bottom: 8px;
}

.trust__info__block p{
	font-size: 16px;
	line-height: 143.55%;
	color: #636363;
}

	.comment{
		position: relative;
		background:url(../img/comment.png);
		background-repeat: no-repeat;
		background-position: left 12px top;
		height: 310vh;
		width: 100%;
		background-size: 300%;
		padding-left: 10%;
		padding-top:10%;
	}

.comment__container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.com__cont1__block{
	position: relative;
	margin-bottom: 10%;
	height: 50%;
}

.com__cont1__block2{
	position: relative;
	height: 50%;
}

.comment__cont{
	width: 100%;
	padding: 27px 45px;
}

.com__container1{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 60px 57px 5px 0px;
}

.com__sergei{
	position: relative;
	width: 100%;
	padding: 60px 8% 5px 5px;
}

.comment__doc__ell2{
	display: none;
}


.comment__cont h2{
	font-size: 35px;
	line-height: 53px;
	color: #000000;
}

.com__block__contentser{
	background: #FFFFFF;
	box-shadow: 0px 10px 30px rgba(47, 55, 237, 0.1);
	padding: 8% 6% 7% 8%;
}

.com__block__contentser h3{
	font-size: 14px;
	line-height: 143.55%;
}

.com__block__contentser p{
	padding-bottom: 5%;
}

.com__block__content{
	background: #FFFFFF;
	box-shadow: 0px 10px 30px rgba(47, 55, 237, 0.1);
	padding: 7% 6% 8% 9%;
}



.com__block__content h3{
	font-size: 14px;
	line-height: 143.55%;
}

.com__block__content p{
	font-size: 14px;
}

.galery{
	width: 100%;
	margin-top: 50px;
}

.galery__container{
	padding-top: 6%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
}

.galery__container img{
	padding-bottom: 1%;
}

.galery h2{
	width: 70%;
	font-size: 30px;
	line-height: 124.41%;
	color: #000000;
	margin: 0 auto;
}

.galery__container img{
	width: 187.37px;
	height: 186.89px;
}

	.cost_comp{
		position: relative;
		height: 160vh;
		width: 100%;
		padding-top: 10%;
		background: url(../img/costcomp.png);
		background-position: center;
		background-repeat: no-repeat;
}


.cost_comp__container{
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.cost_comp__content{
	display: flex;	
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 5%;
	width: 85%;
}

.cost_comp__1p{
	text-align: center;
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(47, 55, 237, 0.15);
	border-radius: 10px;
	margin-right: 3%;
	margin-bottom: 5%;
	padding:10% 5%;
}

.cost_comp__2p{
	text-align: center;
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(47, 55, 237, 0.12);
	border-radius: 10px;
	padding:10% 5%;
	margin-bottom: 5%;
}

.cost_comp__5p{
	position: relative;
	text-align: center;
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(47, 55, 237, 0.12);
	border-radius: 10px;
	padding:10% 5%;
	margin-right: 3%;
}




.cost_comp__1p h3{
	font-size: 20px;
	line-height: 32px;
}

.cost_comp__1p p{
	margin-bottom: 0;
}

.btn{
	margin-top: 12%;
}




.cost_comp__2p h3{
	font-size: 20px;
	line-height: 32px;
}

.cost_comp__2p p{
	margin-bottom: 0;
}

.cost_comp__ellipse{
	right: -10px;
	top: -10px;
}


.cost_comp__5p h3{
	font-size: 20px;
	line-height: 32px;
}

.cost_comp__5p p{
	margin-bottom: 0;
}


.cost_comp__me{
	padding:10% 5%;
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(47, 55, 237, 0.12);
	border-radius: 10px;
	text-align: center;
}

.cost_comp__cost{
	text-align: center;
}
.cost_comp__cost h3{
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 12px;
}


.cost_comp__ell1{
	display: none;
}

.cost_comp__ell2{
	width: 151px;
	height: 151px;
}

.include{
	margin-top: 3%;
	height: 240vh;
	width: 100%;
	padding-top: 13%;
	background: url(../img/includebc.png),url(../img/include768.png);
	background-repeat: no-repeat, no-repeat;
	background-position: top left, top 53px left 50px;
	background-size: 200%, 100%;
}

.include__container{
	width: 80%;
	margin: 0 auto;
	height: 100%;
}

.include__content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.inc__content__small{
	width: 48%;
	height: 350px;
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(47, 55, 237, 0.12);
	border-radius: 10px;
	padding: 9% 5% 5% 8%;
}

.inc__content__big{
	padding: 5% 7% 5% 5%;
	width: 48%;
	height: 350px;
	background: #FFFFFF;
	box-shadow: 0px 20px 50px rgba(47, 55, 237, 0.12);
	border-radius: 10px;
	margin-top: 4%;

}

.include__h3{
	width: 55%;
	font-size: 30px;
	line-height: 124.41%;
	color: #FFFFFF;
	margin: 5% auto;
}

.include__img1{
	width: 87px;
	height: 117.59px;
	margin-bottom: 10%;
}

.include__img2{
	width: 80px;
	height: 80px;
	margin-bottom: 30%;
}


.inc__video{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	width: 207.83px;
	height: 143px;
	margin-bottom: 15%;
}

.inc__chat{
	width: 72px;
	height: 72px;
	margin-bottom: 32px;
}

.inc__content__big h3{
	margin-left: 0;
}

.inc__content__big p{
	margin-left: 0;
}


footer{
	width: 100%;
	height:110vh;
	position: relative;
}

.footer__container{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.footer__top{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background-color: #F9FBFF;
	padding: 10% 8% 10% 16%;
	height: 60%;
}

.footer__middle{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #2F80ED;
	height: 25%;
	padding:  0 8%;
}

.footer__middle__left{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 45%;
}

.footer__bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #185FBF;
	height: 15%;
	padding:  0 8%;
}


.footer__bootom__right{
	width: 35%;
}



input[type="text"]{
	width: 43%;
	margin-right: 3%;
}


.footer__sant{
	color: white;
	margin-right: 5%;
}

.footer_moscow{
	font-weight: normal;
	font-size: 14px;
	line-height: 119.62%;
}

.footer_minsk{
	font-weight: normal;
	font-size: 14px;
	line-height: 119.62%;
}


.costi{
	overflow-x: hidden;
}

.profi{
	overflow-x: hidden;
}
}

